<section id="super-wallpaper">
    <img src="img/general/wallpaper-0.jpg" alt="">
    <h1>ORDER MANAGER</h1>
</section>

<section id="order-list">
    <span id="order-list-start"></span>
    <h2 class="heading">ORDER LIST</h2>
    <p id="order-pagination"><span id="order-prev" onclick="orderPrev()">Prev</span><span id="order-page"></span><span id="order-next" onclick="orderNext()">Next</span></p>
    {{#each order}}
        <div>
            <div class="user-info">
                <h3>Order from &#60{{this.username}}&#62</h3>
                <p class="name">{{this.name}}</p>
                <p class="phone">{{this.phone}}</p>
                <p class="address">{{this.address}}</p>
                {{#if this.message}}<p class="message">{{this.message}}</p>{{/if}}
            </div>
            <div class="order-content">
                <h3>Content</h3>
                <table>
                    <span class="cart" style="display: none;">{{this.content}}</span>
                    <thead>
                        <td>No</td>
                        <td>Dish</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <td class="grandtotal" colspan="5"><p><span></span></p></td>
                    </tfoot>
                </table> 
            </div>
            <div class="confirm">
                <form method="POST" action="/confirm">
                    <input type="hidden" name="super" value="{{supername}}">
                    <input type="hidden" name="status" value="done">
                    <input type="submit" value="MARK AS DONE">
                </form>
            </div>
        </div>
    {{/each}}
    <span id="order-list-end"></span>
</section>

<section id="storage-list">
    <span id="storage-list-start"></span>
    <h2 class="heading">STORAGE</h2>
    <p id="storage-pagination"><span id="storage-prev" onclick="storagePrev()">Prev</span><span id="storage-page"></span><span id="storage-next" onclick="storageNext()">Next</span></p>
    {{#each storage}}
        <div>
            <div class="user-info">
                <h3>Order from &#60{{this.username}}&#62</h3>
                <p class="name">{{this.name}}</p>
                <p class="phone">{{this.phone}}</p>
                <p class="address">{{this.address}}</p>
                {{#if this.message}}<p class="message">{{this.message}}</p>{{/if}}
            </div>
            <div class="order-content">
                <h3>Content</h3>
                <table>
                    <span class="cart" style="display: none;">{{this.content}}</span>
                    <thead>
                        <td>No</td>
                        <td>Dish</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <td class="grandtotal" colspan="5"><p><span></span></p></td>
                    </tfoot>
                </table> 
            </div>
        </div>
    {{/each}}
    <span id="storage-list-end"></span>
</section>

<script src="/javascript/super.js"></script>