<section id="super-wallpaper">
    <img src="/img/general/wallpaper-0.jpg" alt="">
    <h1>ORDER MANAGER</h1>
</section>

<section id="order-list">
    <span id="order-list-start"></span>
    <h2 class="heading">ORDER LIST</h2>
    <p id="order-pagination"><span id="order-prev" onclick="orderPrev()">Prev</span><span id="order-page"></span><span id="order-next" onclick="orderNext()">Next</span></p>
    {{#each order}}
        <div>
            <div class="user-info">
                <h3>Order from &#60{{this.username}}&#62</h3>
                <div class="user" id="user-{{this._id}}">
                    <p class="name">{{this.name}}</p>
                    <p class="phone">{{this.phone}}</p>
                    <p class="address">{{this.address}}</p>
                    {{#if this.message}}<p class="message">{{this.message}}</p>{{/if}}
                    <p class="status">{{this.status}}</p>
                    <p class="method">{{this.method}}</p>
                    <span class="card-btn" onclick="showCard('{{this._id}}')" style="visibility: hidden;">Show card info</span>
                </div>
                <div class="card" style="display: none;" id="card-{{this._id}}">
                    <p class="cardnumber">{{this.cardnumber}}</p>
                    <p class="expiration">{{this.expiration}}</p>
                    <p class="cardname">{{this.cardname}}</p>
                    <p class="billingaddr">{{this.billingaddr}}</p>
                    <p class="postalcode">{{this.postalcode}}</p>
                    <span onclick="hideCard('{{this._id}}')">Show user info</span>
                </div>
            </div>
            <div class="order-content">
                <h3>Content</h3>
                <table>
                    <span class="cart" style="display: none;">{{this.content}}</span>
                    <span class="ship" style="display: none;">{{this.ship}}</span>
                    <thead>
                        <td>No</td>
                        <td>Dish</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <td class="grandtotal" colspan="5"><p><span></span></p></td>
                    </tfoot>
                </table> 
            </div>
            <div class="confirm" style="display: none;">
                <form method="POST" action="/super/confirm">
                    <input type="hidden" name="id" value="{{this._id}}">
                    <input type="hidden" name="super">
                    <input type="submit" value="CONFIRM">
                </form>
            </div>
            <div class="close" style="display: none;">
                <form method="POST" action="/super/close">
                    <input type="hidden" name="id" value="{{this._id}}">
                    <input type="hidden" name="super">
                    <input type="submit" value="CLOSE">
                </form>
            </div>
        </div>
    {{/each}}
    <div id="empty" style="display: none;">Order list is empty</div>
    <span id="order-list-end"></span>
</section>

<script src="/javascript/list.js"></script>